!.gitignore/
.external_modules/
.terraform/
.terraform.lock.hcl
.tfsec/
.DS_Store
.idea/
.vscode/
logs*/
Test/
Users/

__pycache__/
.pytest_cache/
.coverage

!Terraform/components/ec2-image-builder/Ansible/playbooks/roles/install_app/files/SSL_RDS/
*.pem
!Terraform/components/ec2-image-builder/Ansible/playbooks/roles/install_app/files/SSL_RDS/global-bundle.pem
*.gz
!python_packages/
**/python_packages/*
!Terraform/modules/pre-envs-global/Lambdas/aws-ips-update_CLOUDFRONT/python_packages/aws-ips-update_CLOUDFRONT.py
!Terraform/modules/pre-envs-global/Lambdas/aws-ips-update_REGIONAL/python_packages/aws-ips-update_REGIONAL.py
!Terraform/modules/pre-envs-global/Lambdas/newrelic-ips-update/python_packages/newrelic-ips-update.py

Packer/packer_cache/

node_modules/
